*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #FFFFFF;
    font-family: "poppins",sans-serif;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav {
    height: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-sec {
    display: flex;
    align-items: center;
}

.logo-sec img {
    margin-right: 10px;
    height: 29px;
    width: auto;
}

.logo-sec h1 {
    letter-spacing: 1px;
}

.logo-sec h1 span {
    padding: 0 5px;
    color:#A582F7;
    border-radius: 10px;
    letter-spacing: 3px;
    text-shadow: -1px -1px 0 #FFFFFF, 0.3px -1px 0 #FFFFFF;
}

.menu {
    display: flex;
    height: 28px;
    width: 328px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transition: .5s ease;
}

.menu .option {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.menu .option:hover{
    color: #A582F7;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.btns button {
    width: 130px;
    height: 40px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.btns .quote {
    height: 40px;
    background: none;
    border: 2px solid #A582F7;
}

.btns .quote:hover {
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 15px;
    position: relative;
    user-select: none;
}

.hamburger span {
    background-color: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 25px;
}

.hamburger span:not(:last-child) {
    margin-bottom: 5px;
}

.menu-toggle {
    display: none;
}

.menu-toggle.active + .menu {
    display: flex;
}

.main-head {
    font-family: 'Cabinet Grotesk', sans-serif;
    margin-top: 180px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: -7px;
    font-size: 100px;
    line-height: 124px;
    text-align: center;
}

.main-head2 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 900;
    margin-top: -25px;
    font-style: normal;
    letter-spacing: -7px;
    font-size: 100px;
    line-height: 124px;
    text-align: center;
}

.spiral {
    position: absolute;
    width: 187px;
    height: 187px;
    left: calc(50% - 570px);
    top: 410px;
    
}

.header p {
    margin-top: 42px;
    font-weight: 400;
    font-size: 18px;
}

.start {
    display: flex;
    align-items: center;
    margin-top: 47px;
    width: 376px;
    height: 60px;
    justify-content: space-between;
}

.get {
    width: 200px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.story {
    display: flex;
    align-items: center;
    
}

.story img {
   cursor: pointer;
}

.story p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
    margin-left: 16px;
}

.card {
    width: 214px;
    height: 143px;
    padding: 0 10px;
    background: #232121ed;
    border-radius: 10px;
}
.card1 {
    left: calc(50% - 600px);
    top: 220px;
    transform: rotate(-30deg);
    z-index: -1;
    position: absolute;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.features p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 9.0127px;
    border: 1px solid #FFFFFF;
    width: 56.33px;
    height: 28.16px;
    border-radius: 5px;
}

.card h1 {
    font-weight: 600;
    font-size: 13.519px;
    margin-top: 19px;
}

.card p {
    margin-top: 11.5px;
    font-weight: 600;
    font-size: 9.0127px;
}

.card h3 {
    margin-top: 12.41px;
    font-weight: 600;
    font-size: 9.0127px;
    width: 56.33px;
    height: 24px;
    border-radius: 5px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 {
    left: calc(50% + 400px);
    top: 550px;
    transform: rotate(30deg);
    z-index: -1;
    position: absolute;
}

.card3 {
    left: calc(50% - 500px);
    top: 750px;
    filter: blur(3.36404px);
    transform: rotate(-60deg);
    z-index: -1;
    position: absolute;
}

.card5 {
    width: 190px;
    height: 135px;
    left: calc(50% + 50px);
    top: 150px;
    filter: blur(2.5px);
    transform: rotate(17deg);
    z-index: -1;
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
    align-items: center;
    position: relative;
}

.nums {
    width: 347px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num h1 {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.num p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.scribble {
    margin: 60px 0 50px 100px;
}

.bar1 {
    width: 100%;
    height: 140px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    box-shadow: 0px 0px 250px 225px rgba(0, 0, 0, 0.32);
    transform: rotate(2deg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bar2 {
    width: 100%;
    height: 140px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    transform: matrix(1, -0.04, 0.03, 1, 0, 0);
    z-index: -1;
    position: absolute;
    top: 280px;
}

.bar1 img {
    transform: rotate(-1deg);
}

.works {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.works img {
    float: left;
    margin: 140px 112px 180px 175px;
    width: 535px;
    height: 439px;
}

.work-content {
    width: 443px;
    height: 244px;
}

.work-content h1 {
    font-family: 'Cabinet Grotesk',sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 19px;
    line-height: 50px;
}

.work-content span {
    color: #A582F7;
}

.work-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

.work-content button {
    width: 200px;
    height: 60px;
    background: linear-gradient(180deg, #CE9FFC 0%, #A582F7 50.52%, #7367F0 100%);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.job {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-head {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 16px;
}

.job-head span {
    color: #A582F7;
}

.job-head .job-p{
    font-weight: 400;
    font-size: 18px;
}

.job-cards {
    display: flex;
    width: 1090px;
    height: 490px;
    margin-top: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card4 {
    width: 350px;
    height: 235px;
    padding: 10px 20px;
}

.card4 .features {
    width: 100%;
}

.card4 .features p {
    width: 92px;
    height: 46px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 400;
    font-size: 14.7929px;
    cursor: pointer;
}

.card4 h1 {
    font-weight: 700;
    font-size: 22px;
}

.card4 p {
    font-family: 'Cabinet Grotesk', sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 22px;
}

.card4 h3 {
    width: 92px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.people {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20%;
}
.circle{
    margin-left: 80px;
}

.circle img {
    height: 500px;
    width: 500px;
}

footer {
    height: 100px;
    width: 100%;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media {
    margin-left: 50px;
    width: 133px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media i {
    cursor: pointer;
}

.foot-con {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.copyright {
    display: flex;
    margin: 10px 100px;
    justify-content: center;
    border-top: 2px solid #232121ed;
    padding-top: 20px;
}

@media (max-width: 600px){

    .nav {
        width: 100%;
        height: 40px;
        padding: 20px 10px;
        margin-top: 20px;
    }

    .menu {
        display: none;
        position: absolute;
        top: 1%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    }

    .header {
        display: block;
    }

    .btns {
        display: none;
    }

    .hamburger{
        display: block;
    }

    .active {
        display: block;
    }

    .menu li {
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
        border-bottom: .1rem solid #333;
        width: 90%;
    }

    .main-head {
        margin-top: 30%;
        font-weight: 900;
        letter-spacing: 0px;
        font-size: 2.5rem;
        line-height: 70px;
        padding-bottom: 10px;
    }
    
    .main-head2  {
        font-size: 2.5rem;
        letter-spacing: 0px;
        padding-top: 10px;
        margin-top: -50px;
    }

    .header p {
        margin-top: 20px;
        font-size: 1rem;
        text-align: center;
    }

    .get {
        width: 150px;
        height: 40px;
        margin-left: 5%;
    }

    .start {
        width: 95%;
    }

}